<!doctype html>
<html>
  <head>
    <title>Stock Price Notification</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles1.css"/>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>Your Preferences:</h1>
    <div class = message>
      Stock={{stock_ticker}}<br><br>
      Threshold ={{Threshold}}<br><br>
      Current Price ={{Current_price}}<br><br>
      You will notified per your frequecny.<br><br>
      <div class="back-btn">
        <a href="index.html" >Back To Home</a>
      </div>
      </div>
      
  </body>